<!-- <div class="header">
  <h1>Danai Adkisson</h1>
  <div class="diamonds">
    <div id="diamond-one"><a href="https://www.linkedin.com/pub/danai-adkisson/83/292/bb?domainCountryName=&csrfToken=ajax%3A7133396319008735479"><i class="fa fa-linkedin-square"></i></a></div>
    <div id="diamond-two"><a href="https://github.com/powder-river"><i class="fa fa-github"></i></a></div>
    <div id="diamond-three"> <a href="https://grid-iron.herokuapp.com"><p>Grid<span id="gridiron">i</span>ron</p></a> </div>
    <div id="diamond-four"> <a href="mailto:dadkisso@live.com" target="_top"><i class="fa fa-envelope"></i></a> </div>
    <div id="diamond-five"><a href="/Danai_Adkisson_Resume.pdf" download><p>Resume</p></a></div>
  </div>
</div>



<div class="about-me-container">
  <h3>About Me</h3>
  <p> I am a web developer based out out of Chapel Hill, NC. I learned my skills from the  Iron Yard Coding
  Academy at the historic American Tobacco Campus in Durham, NC. While at the Iron Yard I studied Ruby on Rails. While I
  would say rails/backend is where most of my skills lie, it's fair to say I also have a decent amount of front end skill.
  Our team for the Iron Yard's final project, "Gridiron" was comprised of all rails developers (usually teams are given both
    back and front end developers) and I managed the front end for that project.</p>

  <p> When I am not coding I enjoy spending time with my wife and my Pembroke Welsh Corgi, Maple. I am an avid motorcycle
  rider and you'll rarely find me off two wheels. I was born and raised in Wyoming and have my B.A. from the University
  of Wyoming. During my time at the University I also spent a summer studying abroad in Israel. </p>
</div>

<div id="picture-container">
  <div id="grapes">
    <div class="pictures" id="triumph"></div>
    <div class="pictures" id="corgi"></div>
    <div class="pictures" id="steamboat"></div>
    <div class="pictures" id="a-ruby"></div>
  </div>
</div> -->
